@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Thin.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Thin.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-ExtraLight.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Light.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Light.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-ExtraBold.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;background-color: #fafafa;
}

html,
body {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: 359 100% 0%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    body {
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}
