@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Thin.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Thin.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-ExtraLight.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Light.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Light.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-ExtraBold.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("/public/assets/fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"),
    url("/public/assets/fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}

